#PRACTICA
### AD2004B.403.M2.EF2023
### Laboratorio de PANDAS



> En este Lab practicaras el uso de **Pandas** para realizar análisis de datos. Partiremos de la carga de datos desde un archivo de Excel para despues manipular visualizar esto datos con Python. 
EL archivo de Excel debe de estar en Github.



##### Nombre del archivo: "labPandas"
#### Utilizaremos el archivo "Superstore.xls"

## PANDAS
https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html


**Importar** un archivo de datos con **pandas**
>Como primer paso se debe importar la libreria de Pandas, lo cual nos da acceso a las funciones necesarias para manipulación de los datos.

In [1]:
# Importamos la Libreria pandas con el alias "pd"
import pandas as pd

## Importar archivo de Excel
> Es importante que tengan correcta la ruta donde esta el archivo, en este caso el archivo debe estar en el repositorio correspondiente a la clase de GitHub.

In [2]:
#Importar archivo en un dataframe
URL = 'https://raw.githubusercontent.com/REGINAA00573752/AD2003B/main/Superstore.xls'
data = pd.read_excel(URL, index_col=0)
data

,Customer ID,Customer Name,Segment,City,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,
CA-2018-140326,HW-14935,Helen Wasserman,Corporate,Chicago,60653.0,Central,FUR-BO-10000112,Furniture,Bookcases,"Bush Birmingham Collection Bookcase, Dark Cherry",825.174,9,0.30,-117.8820
CA-2016-130785,AG-10900,Arthur Gainer,Consumer,San Diego,92105.0,West,FUR-BO-10000330,Furniture,Bookcases,"Sauder Camden County Barrister Bookcase, Plank...",411.332,4,0.15,-4.8392
CA-2015-105249,DH-13675,Duane Huffman,Home Office,San Francisco,94122.0,West,FUR-BO-10000330,Furniture,Bookcases,"Sauder Camden County Barrister Bookcase, Plank...",411.332,4,0.15,-4.8392
CA-2018-125472,BD-11725,Bruce Degenhardt,Consumer,Lafayette,70506.0,South,FUR-BO-10000330,Furniture,Bookcases,"Sauder Camden County Barrister Bookcase, Plank...",241.960,2,0.00,33.8744
CA-2016-118423,DP-13390,Dennis Pardue,Home Office,Peoria,61604.0,Central,FUR-BO-10000362,Furniture,Bookcases,Sauder Inglewood Library Bookcases,359.058,3,0.30,-35.9058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CA-2018-144498,MB-18085,Mick Brown,Consumer,Charlotte,28205.0,South,TEC-PH-10004977,Technology,Phones,GE 30524EE4,627.168,4,0.20,70.5564
CA-2015-167199,ME-17320,Maria Etezadi,Home Office,Henderson,42420.0,South,TEC-PH-10004977,Technology,Phones,GE 30524EE4,391.980,2,0.00,113.6742
CA-2018-121048,TC-21295,Toby Carlisle,Consumer,Westminster,92683.0,West,TEC-PH-10004977,Technology,Phones,GE 30524EE4,470.376,3,0.20,52.9173
CA-2018-167395,KM-16720,Kunst Miller,Consumer,Lowell,1852.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,979.950,5,0.00,284.1855
CA-2016-128608,CS-12490,Cindy Schnelling,Corporate,Toledo,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.188,2,0.40,-43.1178

In [ ]:
#Exportar datos
data.to_csv('output.csv')
#data.to_ (para mandar el archivo)

# Conoce los Datos.
Identificar y documentar de manera general que contiene el archivo de datos.
Una buena idea es crear un glosario de términos donde se describa cada uno de los datos manejados.

In [ ]:
#Ejecuta las intrucciones necesarias para conocer los datos. 
# METADATOS:Tipos de datos, tamaño del dataframe, nombres de columnas, etc.
# DATOS: Observa los datos de manera inicial, oberva los primeros n y los ultimos n, donde pruebes con varios valores de n
# Cada instrucción colocala en un renglón para que agregues la documentación necesaria de los que estas observando.

# **FILTROS**

### Mostrar columas especificas de un dataframe.
Crea un dataframe "dfCLientes" donde almacenes el ID del CLiente y su nombre.
Muestra el dataframe.

dataframe[["col1", "col2"]]

**CLIENTES**.
¿Cuantos clientes se tienen?
Crea un dataframe con los IDs y nombre de clientes sin que estos se repitan.
Muestra la información.

**Analiza los datos unicos.**

Obten la lista de ciudades,segmentos, regiones y categorias. De cada uno conoce la cantidad y visualiza las listas.
Crea un dataframe nuevo por cada consulta, el unique genera un arreglo numpy, conviertelo a dataframe, vizualizalo.

# **Filtros con**  iloc - loc
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html?highlight=iloc#pandas.DataFrame.iloc

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

Con la instrucción iloc y el dataframe dfDatos

*   Muestra los primeros 10 registros.
*   Muestra los registros del 20 al 25.
*   Muestra 10 registros con indices seleccionados aleatoreamente
*   Muestra los registros del 100 al 120, pero solo las columnas 4, 5 y 6

In [ ]:
# iloc

Con la instrucción loc:


*   En una nuev df Asigna el ID de la orden como dato indice.
*   Realiza la busqueda de la orden "CA-2015-154599"
*   Obtnen los registros con Sales mayor a 5000. ¿cuantos son?

In [ ]:
# loc

## Estadisticas básicas con pandas
https://datatofish.com/use-pandas-to-calculate-stats-from-an-imported-csv-file/

df.describe()
Mean, sum, Maximum, Minimum, Count, Median, Standard deviation, Variance.

Obrten las estadisticas de los datos.


_________

In [ ]:
# Estadisticas basicas

**### Estadisticas con una condición**

Obten el promedio de utilidad de la región Central

Ejemplo de salida:

***Promedio de utilidad de ordenes de la región central : 23.45***

In [ ]:
# utiliza la intrucción loc para filtrar

Obten la suma de ventas de la categoría "Technology"

# **Group By**
>La instrucción **groupby** realiza agrupamientos por uno o más datos, de tal forma que podremos realizar cálculos de datos por esos mismos grupos.

**TOP TEN x Ventas**

Obten las ventas (cantidad , ventas , descuento) por ciudad ordenado de manera descendente en cuanto a las ventas.

In [ ]:
#Primer paso usar groupby y generar un df
#Ordenar el daraframe de manera descendente y mostrar los primeros 10

**Generar otras dos vistas que sean de utilidad (con el groupby)**
Analizar otras dos vistas que consideran puden ser utiles para conocer más sobre los datos.

# **EXPORTACIÓN**

Exportar los df a archivos de EXCEL.

In [ ]:
# Exportar un df a un archivo de EXCEL.



---


# **SEGUNDA PARTE**

## ¿y las Gráficas?

Veamos la libreria **matplotlib**

In [ ]:
import matplotlib.pyplot as plt  # solo importamos del módulo  pyplot

### NORMALIZAR
Para poder comparar las ventas con los descuentos y ver si tienen una correlación debemos de ponerlos en una misma escala, para esto utilizremos la libreria **sklearn**

In [ ]:

from sklearn import preprocessing
import seaborn as sns